.main{
    height: 200px;
    width: 400px;
border: 2px solid white;
background-color: #9e0621;
position: relative;

}
body{
    background-color: black;
}
.a{
height: 35px;
width: 400px;
position: absolute;
top: 80px;
left: 0px;
background-color: aliceblue;
}
